body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.tab .ui.tabular.menu .item {
  flex: 10 10 auto;
  background: none #5f7554;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-width: 11px;
  border-color: #29297e;
}
.tab .ui.tabular.menu .active.item {
  background: none rgb(29, 158, 180);
}
